.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  justify-content: space-around;
  border-radius: 25px;
  /* margin-left: 100px; */
  /* margin-right: 100px; */
  margin: top 43px;
  margin-bottom: 2%;
}
@media (max-width: 480px) {
  .list {
    position: absolute;
    flex-direction: column;
    width: 480px;
    flex-wrap: nowrap;
    border-radius: 10px;
    width: 335px;
  }
}
@media (max-width: 768px) {
  .list {
    position: absolute;
    flex-direction: column;
    width: 768px;
    flex-wrap: nowrap;
    border-radius: 10px;
    width: 335px;
  }
}
@media (max-width: 992px) {
  .list {
    margin-left: 5px;
    margin-right: 3px;
    margin: top 43px;
    margin-bottom: 3%;
  }
}
@media (max-width: 1024px) {
  .list {
    margin-left: 20px;
    margin-right: 20px;
    margin: top 43px;
    margin-bottom: 3%;
  }
}
