.image {
  overflow: hidden;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.image img {
  width: 340px;
  height: 340px;
  object-fit: cover;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  border-radius: 10px;
  background-color: #ff6060;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.content {
  position: absolute;
  left: 5.88%;
  right: 5.88%;
  top: 78.82%;
  bottom: 5.88%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  /* or 26px */
  display: flex;
  align-items: flex-end;
  color: #ffffff;
}
.item {
  width: 340px;
  height: 340px;
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-top: 35px;
  border-radius: 10px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.location-title {
  margin-top: auto;
  margin-bottom: 5px;
  position: relative;
  z-index: 2;
  color: white;
  height: 52px;
  width: 250px;
  left: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
}

.location-bgd {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}
.linklocation {
  text-decoration: none;
  text-decoration-line: none;
}

@media (max-width: 990px) {
  .item {
    height: 340px;
    display: flex;
  }
}
@media (max-width: 375px) {
  .image img {
    width: 100%;
    border-radius: 10px;
    position: absolute;
  }
}
