/* PART 404 */

.errorpage h1 {
  position: relative;
  width: auto;
  background: #ffffff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 288px;
  line-height: 142.6%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #ff6060;
}
.errorpage h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 142.6%;
  color: #ff6060;
  right: 18.96%;
  left: 20.49%;
  bottom: 35.84%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.errorpage p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  text-align: center;
  color: #ff6060;
  right: 40.14%;
  left: 40.14%;
  bottom: 15.53%;
}

.homepage {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 142.6%;
  text-decoration-line: underline;
  text-align: center;
  margin-top: 8%;
  color: #ff6060;
}

@media screen and (max-width: 480px) {
  .errorpage h1 {
    font-size: 96px;
    text-align: center;
  }
  .errorpage h2 {
    font-size: 18px;
  }
  .errorpage p {
    font-size: 18px;
    margin-left: 14%;
    margin-right: 14%;
    text-align: center;
  }

  .homepage {
    font-size: 14px;
    margin-left: 85px;
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .errorpage h1 {
    font-size: 96px;
  }
  .errorpage h2 {
    font-size: 18px;
  }
  .errorpage p {
    font-size: 18px;
    margin-left: 14%;
    margin-right: 14%;
    text-align: center;
  }

  .homepage {
    font-size: 14px;
    margin-left: 85px;
    text-align: center;
  }
}
@media screen and (max-width: 992px) {
  .errorpage h1 {
    font-size: 96px;
  }
  .errorpage h2 {
    font-size: 18px;
  }
  .errorpage p {
    font-size: 18px;
    margin-left: 14%;
    margin-right: 14%;
    text-align: center;
  }

  .homepage {
    font-size: 14px;
    margin-left: 85px;
    text-align: center;
  }
}
@media screen and (max-width: 1024px) {
  .errorpage h1 {
    margin: 90px auto 55px;
  }
}
@media screen and (max-width: 1280px) {
  .errorpage h1 {
    margin: 100px auto 56px;
  }
}
