.background3 {
  background: #f7f7f7;
  border-radius: 25px;
  background-color: #f6f6f6;
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 43px;
}
.body3 {
  position: relative;
  margin-bottom: 230px;
}
/* .body3 ::after {
  content: "";
  display: block;
  height: 209px; /* Set same as footer's height */

@media screen and (max-width: 998px) {
  .background3 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 375px) {
  .background3 {
    margin-left: 20px;
    margin-right: 20px;
    background-color: unset;
    margin-top: 0px;
  }

  .body3 {
    height: 6083px;
    margin-bottom: 300px;
  }
}
