.background3 {
  margin-top: 70px;
  background: #f7f7f7;
  border-radius: 25px;
  background-color: #f6f6f6;
  display: flex;
  height: max-content;
  /* margin-left: 100px;
  margin-right: 100px; */
}
.bgd {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
@media screen and (max-width: 998px) {
  .background3 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 768px) {
  .background3 {
    width: auto;
    height: 7550px !important;
    margin-left: 2px;
    margin-right: 2px;
  }
}
@media (max-width: 375px) {
  .background3 {
    width: auto;
    height: 7550px !important;
  }
}
