.body-home {
  margin-top: 70px;
}

.title_home {
  /* Chez vous, partout et ailleurs */
  position: absolute;
  z-index: 3;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 142.6%;
  left: 45%;
  top: 50%;
  color: #ffffff;
  transform: translate(-50%, -50%);
  width: 100%;
  margin: 0;
  text-align: center;
}

.bgd {
  position: absolute;
  /* width: 90%; */
  height: 100%;
  margin: auto;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  border-radius: 25px;
}
.flex {
  display: flex;
}
.banner.background {
  position: absolute;
  width: 1240px;
  height: 223px;
  left: 100px;
  top: 171px;
  background: #000000;
  mix-blend-mode: darken;
  opacity: 0.3;
  border-radius: 25px;
}
.background {
  display: flex;
}

.location_card {
  display: flex;
  flex-wrap: wrap;
}
