.body_location_page {
  display: flex;
  flex-direction: column;
}
.slideshow_location {
  margin-top: 35px;
}

.slideshow_location img {
  border-radius: 30px;
  width: 100%;
  height: 415px;
  object-fit: cover;
}

.presentation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
}

.home_header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* width: 635px; */
}
.location_header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.location_subheader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 0px;
  margin-bottom: 10px;
}
.location_tags {
  display: flex;
}

.main-container-stars {
  display: flex;
  flex-direction: row;
}

.main-container-accordion {
  margin-top: 10px;
  /* width: 1240px; */
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-left: 100px;
  margin-right: 100px;
}

.accordion-container-right {
  width: 582px;
  margin-bottom: 5%;
  margin-left: 3px;
}
.accordion-container-left {
  width: 582px;
  margin-bottom: 5%;
}
/* TITLE PAGE - LOCATION NAME*/

.title_locationpage {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 36px;
  line-height: 142.6%;
  display: flex;
  align-items: flex-end;
  color: #ff6060;
  margin-bottom: 30px;
  font-weight: 500;
}

.subtitle_locationpage {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  display: flex;
  align-items: flex-end;
  color: #ff6060;
  margin-top: -25px;
}

.main-container-tag {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
}
/* @media screen and (max-width: 1280px) {
  .slideshow_location img {
    height: 390px;
  }
}
@media screen and (max-width: 1180px) {
  .slideshow_location img {
    height: 365px;
  }
}
@media screen and (max-width: 992px) {
  .slideshow_location img {
    height: 340px;
  }
}
@media screen and (max-width: 768px) {
  .slideshow_location img {
    height: 320px;
  }
}
@media screen and (max-width: 600px) {
  .title_locationpage h2 {
    flex-direction: column;
  }
  .subtitle_locationpage h2 {
    font-size: 14px;
    height: min-content;
    line-height: 142.6%;
  }
  .slideshow_location img {
    height: 300px;
  }
} */
@media (max-width: 375px) {
  .title_locationpage {
    bottom: 49.51%;
    width: auto;
    display: flex;
    align-items: flex-end;
    font-size: 18px;
    margin-left: 20px;
  }
  .presentation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    align-content: flex-start;
  }
  .home_header {
    width: auto;
  }
  .main-container-accordion {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    margin-left: 0px;
  }
  .accordion-container-right {
    width: 90%;
    margin-bottom: 5%;
    margin-left: 5%;
  }
  .accordion-container-left {
    width: 90%;
    margin-bottom: 5%;
    margin-left: 5%;
  }
  .slideshow_location img {
    height: 255px;
    width: 355px;
    border-radius: 10px;
  }
  .location_subheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 0px;
    margin-bottom: 10px;
    flex-direction: row-reverse;
  }
  .subtitle_locationpage {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19.96px;
    display: flex;
    align-items: flex-end;
    color: #ff6060;
    margin-top: -25px;
    margin-left: 20px;
  }
  .location_tags {
    margin-left: 20px;
    font-size: 10px;
  }
}
@media (max-width: 768px) {
  .presentation {
    /* width: min-content; */
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    flex-wrap: nowrap;
    align-content: stretch;
  }
  .title_locationpage {
    font-size: 18px;
  }
  .main-container-accordion {
    margin-left: 10px;
    margin-right: 10px;
  }
}
