.body_location_page {
  display: flex;
  flex-direction: column;
}
.slideshow_location {
  margin-top: 35px;
}

.slideshow_location img {
  border-radius: 30px;
  width: 100%;
  height: 415px;
  object-fit: cover;
}

.presentation {
  width: 1240px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 100px;
}

.home_header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 635px;
}
.location_header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.location_subheader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 0px;
  margin-bottom: 10px;
}
.location_tags {
  display: flex;
}
/* .main-container-tag {
  display: flex;
  flex-direction: row;
  /* justify-content: left;
  margin-left: 15px; */

.main-container-stars {
  display: flex;
  flex-direction: row;
}

.main-container-accordion {
  margin-top: 10px;
  width: 1240px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-left: 100px;
}

.accordion-container-right {
  width: 582px;
  margin-bottom: 5%;
}
.accordion-container-left {
  width: 582px;
  margin-bottom: 5%;
}
/* TITLE PAGE - LOCATION NAME*/

.title_locationpage {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 36px;
  line-height: 142.6%;
  display: flex;
  align-items: flex-end;
  color: #ff6060;
  margin-bottom: 30px;
  font-weight: 500;
}

.subtitle_locationpage {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  display: flex;
  align-items: flex-end;
  color: #ff6060;
  margin-top: -25px;
}

.main-container-tag {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
}
