@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Monserrat", sans-serif;
  /* position: relative; */
  max-height: 1440px;
  max-width: 1440px !important;
  /* min-height: 1024px; */
  background: #ffffff;
  margin: auto;
}

h1 {
  font-size: 2.5rem;
  color: #2c292b;
  max-width: 1440px !important;
}

h2 {
  font-size: 1.5rem;
  color: #2c292b;
}
