/* STYLE ACCORDION SECTION */
.accordion__section {
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  margin-right: 200px;
}

/* STYLE BUTTON */
.accordion {
  height: 47px;
  width: 100%;
  border-radius: 5px;
  background-color: #ff6060;
  color: white;
  cursor: pointer;
  padding: 18px;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  /* transition: background-color 0.6s ease; */
}

/* STYLE CONTENT TITLE */
.accordion__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-align: left;
}

/* STYLE CHEVRON */
.accordion__icon {
  margin-left: auto;
  font-style: bold;

  transition: transform 0.6s ease;
}

/* ROTATION */
.rotate {
  transform: rotate(180deg);
}

/* STYLE ACCORDION PANEL */
.accordion__content {
  background-color: #f6f6f6;
  overflow: auto;
  height: 254px;
  transition: max-height 0.6s ease;
  /* height: 147px; */
  left: 0px;
  top: 38px;
  border-radius: 5px;
}

/* STYLE TEXT */
.accordion__text {
  color: #ff6060;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 24px;
  padding: 18px;
  line-height: 142%;
  left: 1.76%;
  right: 2.64%;
  top: 40.22%;
  bottom: 10.33%;
}
/* position: absolute;
left: 1.76%;
right: 2.64%;
top: 40.22%;
bottom: 10.33%;


/* CONTAINER */

.accordion-container {
  margin-bottom: 20px;
  /* margin-right: none; */
  position: relative;
}

@media screen and (max-width: 1024px) {
  .accordion__title {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-align: left;
  }
  .accordion__text {
    color: #ff6060;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding: 18px;
  }
  .accordion__section {
    margin-left: 100px;
    margin-right: 100px;
  }
}
@media (max-width: 740px) {
  .accordion {
    height: 30px;
    width: 100%;
  }

  .accordion__title {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 13px;
    text-align: left;
  }

  .accordion__text {
    color: #ff6060;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 13px;
    padding: 18px;
  }
  .accordion__section {
    margin-left: 5.4%;
    margin-right: 5.4%;
  }
}
