.accordionlocation__section {
  display: flex;
  flex-direction: column;
}

/* STYLE BUTTON */
.accordionlocation {
  width: 582px;
  height: 52px;
  border-radius: 10px;
  background-color: #ff6060;
  color: white;
  cursor: pointer;
  padding: 18px;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  /* transition: background-color 0.6s ease; */
}

/* STYLE CONTENT TITLE */
.accordionlocation__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-align: left;
}

/* STYLE CHEVRON */
.accordionlocation__icon {
  margin-left: auto;
  transition: transform 0.6s ease;
}

/* ROTATION */
.rotate {
  transform: rotate(90deg);
}

/* STYLE ACCORDION PANEL */
.accordionlocation__content {
  background-color: #f6f6f6;
  overflow: auto;
  transition: max-height 0.6s ease;
  height: 249px;
  width: 582px;
  left: 0px;
  top: 38px;
  border-radius: 10px;
}

.accordionlocation__text {
  color: #ff6060;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 18px;
}
.accordionlocation__text li {
  list-style: none;
}
.accordionlocation__text ul {
  padding-left: 0;
}

@media screen and (max-width: 375px) {
  .accordionlocation__section {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: stretch;
    width: 335px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .accordionlocation {
    width: auto;
  }
  .accordionlocation__content {
    width: auto;
  }
  .accordionlocation__title {
    font-size: 13px;
    font-weight: 500;
  }
  .accordionlocation__text {
    font-size: 12px;
  }
}
