.banner {
  border-radius: 10px;
  height: 223px;
  width: 100%;
  /* top: 152px; */
  max-width: 1440px !important;
  margin-left: 100px;
  margin-right: 100px;
}

.imgban {
  border-radius: inherit;
  object-fit: cover;
  opacity: 3;
  border-radius: inherit;
  width: 84%;
  height: 245px;
  background: #000000;
  mix-blend-mode: darken;
  /* background-image: url("../images/bannermobileinfo.png"); */
}

/* .overlay {
  position: absolute;
  top: 0;
  border-radius: 10px;
  height: 100%;
  width: fit-content;
  opacity: 0;
  background: #000000;
  mix-blend-mode: darken;
} */
.text {
  position: absolute;
  top: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  color: white;
  font-weight: 500;
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-evenly;
}

@media screen and (max-width: 1280px) {
  .imgban {
    height: 210px;
  }
}

@media screen and (max-width: 1024px) {
  .imgban {
    height: 190px;
  }
  .text {
    font-size: 30px;
    height: 170px;
    margin-top: 122px;
  }
}
@media screen and (max-width: 992px) {
  .banner {
    height: 180px;
    margin-bottom: 40px;
  }
  .img {
    height: 170px;
  }
  .text {
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  .banner {
    width: 88.725%;
    height: 125px;
    margin: 0 auto 26px auto;
    padding: 0;
    border-radius: 10px;
  }
  .imgban {
    height: 111px;
    margin: 0;
    border-radius: 10px;
    object-fit: cover;
  }
  .text {
    width: 217px;
    height: 48px;
    font-size: 24px;
    left: 50px;
  }
}
@media (max-width: 375px) {
  .banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 335px;
    height: 111px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
  }
  .imgban {
    position: absolute;
    width: 335px;
    height: 111px;
    margin: left 20px;
    margin: right 20px;
    border-radius: inherit;
    object-fit: cover;
    opacity: 3;
    mix-blend-mode: darken;
    border-radius: 25px;
    color: black;
  }

  .text {
    position: absolute;
    left: 9.6%;
    right: 32.53%;
    top: 0%;
    bottom: 88.05%;
    display: flex;
    align-items: center;
    font-size: 24px;
    line-height: 100%;
  }
}
