.banner {
  border-radius: 10px;
  position: relative;
  margin: 20px 0;
  height: 111px;
}

.img {
  border-radius: inherit;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.overlay {
  /* background-color:; */
  position: absolute;
  top: 0;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  opacity: 0.3;
}

.text {
  position: absolute;
  top: 0;
  font-size: 24px;
  color: white;
  font-weight: 500;
  margin: 0;
  padding-left: 16px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
