.footer {
  display: flex;
  width: 100%;
  height: 209px;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background: #000000;
  height: 209px;
  max-width: 1440px !important;
  position: absolute;
}
.logo {
  position: absolute;
  top: 31.58%;
  bottom: 49.55%;
  z-index: 1;
}
@media (max-width: 375px) {
  .footer {
    display: flex;
    width: 100%;
    height: 209px;
    flex-direction: column;
    color: white;
    align-items: center;
    position: relative;
    justify-content: space-around;
    text-align: center;
    background: #000000;
    height: 209px;
  }
  .logo {
    position: absolute;
    top: 33.87%;
    bottom: 51.4%;
    z-index: 1;
  }
}
