.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ff6060;
  background-color: white;
  margin-right: 100px;
  margin-left: 100px;
}

/* .logo {
  width: 210px;
  height: 68px;
  margin: top 14.45px;
  /* font-size: 2rem; */
/* color: white; */
/* font-weight: bold; */

.header ul {
  list-style: none;
  font-family: "monserrat";
  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;
  display: flex;
  align-content: center;
  align-items: flex-end;
  text-align: right;
  right: 0px;
  margin-top: 57px;
  margin-bottom: 20px;
  color: #ff6060;
}

.header li {
  margin-left: 3rem;
}

.header a {
  text-decoration: none;
  color: #ff6060;
}

.header a:hover,
.header a:active,
.header a.active {
  color: white;
}

.badge {
  background-color: #cc2062;
  color: white;
  border-radius: 12px;
  padding: 0 1rem;
  margin-left: 0.5rem;
}
@media (max-width: 375px) {
  .header {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }

  .header img {
    width: 98px;
    height: 43.08px;
    margin-left: 5px;
    position: absolute;
    top: 20px;
  }

  .header li {
    margin-right: 20px;
    text-align: right;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 142.6%;
    margin-top: -25px;
  }
}
