.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ff6060;
  background-color: white;
  margin-left: 100px;
  margin-right: 100px;
  max-width: 1440px !important;
}

.header img {
  width: 210px;
  height: 68px;
  margin: top 14.45px;
}

.header ul {
  list-style: none;
  font-family: "montserrat";
  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;
  display: flex;
  align-content: center;
  align-items: flex-end;
  text-align: right;
  right: 20px;
  margin-top: 57px;
  margin-bottom: 20px;
  color: #ff6060;
}

.header li {
  margin-left: 3rem;
}

.header a {
  text-decoration: none;
  color: #ff6060;
}

.header a:hover,
.header a:active,
.header a.active {
  color: #ff6060;
  text-decoration: underline;
}

@media (max-width: 780px) {
  .header {
    margin-right: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: 20px;
    margin-right: 60px;
  }

  .header img {
    width: 145px;
    height: 47px;
    position: absolute;
    top: 20px;
  }

  .header li {
    margin-right: 20px;
    margin-left: 10px;
    margin-top: -30px;
    text-align: right;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 142.6%;
  }
}

@media (max-width: 480px) {
  .header img {
    width: 145px;
    height: 47px;
    right: 56.72%;
  }
  .header {
    width: 96%;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
  }
  .header ul {
    right: 0%;
    margin-top: 38px;
    font-size: 12px;
    bottom: 25.53%;
  }
}
