.tag {
  background: #ff6060;
  border-radius: 10px;
  width: 120px;
  height: 30px;
  text-align: center;
  align-items: center;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 142.6%;
  margin-right: 10px;
  margin-bottom: 20px;
  font-weight: 500;
  padding-bottom: 3px;
}

.tag__text {
  margin-top: 6px;
  font-size: 14px;
}

@media (max-width: 375px) {
  .tag {
    width: 87px;
    height: 23.5px;
    text-align: center;
    align-items: center;
    font-size: 10px;
    line-height: 8px;
  }
  .tag__text {
    font-size: 10px;
  }
}
