.user-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.user-main img {
  width: 64px;
  height: 64px;
  left: 1273px;
  top: 567px;
  border-radius: 50px;
  background: #c4c4c4;
}

.user-name p {
  width: 93px;
  /* height: 52px; */
  left: 1170px;
  top: 573px;

  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 142.6%;
  /* or 26px */

  display: flex;
  align-items: flex-end;
  text-align: right;

  color: #ff6060;
  margin-right: 10px;
}

@media (max-width: 375px) {
  .user-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .user-main img {
    width: 32px;
    height: 32px;
  }

  .user-name p {
    left: 0%;
    right: 31.37%;
    top: 0%;
    bottom: 0%;

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 142.6%;
    /* or 17px */

    display: flex;
    align-items: flex-end;
    text-align: right;
    margin-left: 50px;
  }
}
