/* .location_card {
  width: 340px;
  height: 340px;
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-top: 35px;
  margin-left: 35px;
  margin-left: 35px;
  border-radius: 30px;
} */

.location-title {
  margin-top: auto;
  margin-bottom: 5px;
  position: relative;
  z-index: 2;
  color: white;
  height: 52px;
  width: 250px;
  left: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
}

.location-bgd {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}
.linklocation {
  text-decoration: none;
  text-decoration-line: none;
}

@media (max-width: 375px) {
  .location_card {
    width: auto;
    height: 255px;
  }

  .location-title {
    margin-top: auto;
    margin-bottom: 5px;
    position: relative;
    z-index: 2;
    color: white;
    height: 52px;
    width: 250px;
    left: 20px;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
  }
}
